:root {
    --rojo : red;
    --rojoflojo : rgb(255, 97, 97);
    --grisflojo : rgb(189, 189, 189);
    --gris : rgb(88, 88, 88);
    --blanco : rgb(247, 247, 247);
}
body {
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    border: 0px;
}
